MULTIPLE LINEAR REGRESSION

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('toyota.csv')

In [3]:
data

,Price,Age,Km,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,20795,5,97958,Petrol,71,1,0,1405,3,1193
1,5860,7,150937,Diesel,139,1,1,1231,5,1473
2,10390,9,143291,Diesel,86,1,1,1532,3,1497
3,16964,7,49809,Diesel,97,1,0,1818,2,1345
4,16284,13,126748,CNG,135,1,0,1549,5,1109
...,...,...,...,...,...,...,...,...,...,...
495,10486,6,156389,Diesel,132,1,0,1725,3,1213
496,13335,2,125608,Petrol,90,1,0,1682,2,1060
497,9491,8,17564,CNG,121,1,1,1834,3,1230
498,16130,10,168417,Diesel,124,0,1,1565,2,1427
499,12651,5,123824,CNG,95,0,0,1905,3,1237

In [6]:
x=data.iloc[:,0:9]
x
Y=data.iloc[:,9:10]
Y

     Weight
0      1193
1      1473
2      1497
3      1345
4      1109
..      ...
495    1213
496    1060
497    1230
498    1427
499    1237

[500 rows x 1 columns]

In [7]:
x.head()

   Price  Age      Km FuelType   HP  MetColor  Automatic    CC  Doors
0  20795    5   97958   Petrol   71         1          0  1405      3
1   5860    7  150937   Diesel  139         1          1  1231      5
2  10390    9  143291   Diesel   86         1          1  1532      3
3  16964    7   49809   Diesel   97         1          0  1818      2
4  16284   13  126748      CNG  135         1          0  1549      5

In [17]:
x=data.drop('FuelType',axis=1)

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,Y_train,Y_test=train_test_split(x,Y,test_size=0.2)

In [19]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,Y_train)

LinearRegression()

In [20]:
y_pred=regressor.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score